@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  color: black;
  background-color:#32707D;
}

h1 {
  padding: 20px 0px 10px 0px;
  text-align: center;
  color: white;

}

a {
  color:white;
  text-decoration: none;
}

/* Centers images */
img {
  display: block;
  margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */
.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color:#E0E0E0;
  text-decoration:black;
  font-family: 'Ubuntu', sans-serif;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#E0E0E0 ;
}

li {
  float: left;
}

li a {
  display: block;
  color:#32707D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
