@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
  text-color: #EDFFFB;
  background-color: #262928;
}

h1 {
  padding: 20px 0px 10px 0px;
}

a {
  color: #EDFFFB;
  text-decoration: none;
}

/* Centers images */
img {
  display: block;
  margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */
.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color: #454A49;
}
